@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.loading {
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  animation: rotate 2s linear infinite;
}
