.tabs-container {
  display: flex;
  flex-direction: column;
}

.tabs-navigation {
  display: flex;
  gap: 10px;
}

.tabs-navigation__item {
  border: 2px solid #ffe3a9;
  padding: 10px;
  width: 100px;
  background: white;
  border-radius: 4px;
}

.tabs-navigation__item--selected {
  background: #ffe3a9;
  color: #ff5d5d;
  font-weight: bold;
}

.tabs-current-content {
  margin-top: 10px;
  min-width: 300px;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 4px;
  min-height: 500px;
}
