header {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img {
  height: 50px;
  margin-right: 40px;
}

.header__app-title {
  color: grey;
  margin-left: auto;
}
