.content__random-dog-viewer__container {
  min-height: 500px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.content__random-dog-viewer__button {
  background: #ff8c8c;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 50px;
}

.content__random-dog-viewer__button span {
  color: #ffe3a9;
}

.content__random-dog-viewer__img {
  flex: 1;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
